In [66]:
import pandas as pd

In [67]:
ag_rank_portfolio1 = pd.read_csv("ag_rank_portfolio1.csv")
ag_rank_portfolio2 = pd.read_csv("ag_rank_portfolio2.csv")
ag_rank_portfolio3 = pd.read_csv("ag_rank_portfolio3.csv")

In [3]:
ag_rank_portfolio1.head()

,id,rank_01,rank_02,rank_03,rank_mean,rank_std
0,8a39891dd70cf06653cc20a7bd5926e6cda147943a12d2...,96.0,4080.0,34.0,1403.333,1892.858
1,6d5e7c0b8ae625dea6c700859223ae44cd967261887862...,174.0,4080.0,22.0,1425.333,1878.158
2,9893ca533adcb579e97062462cf53d7a0255f91a86a7ca...,1784.0,1.0,2614.0,1466.333,1090.146
3,51ca1a80bed69529d21c476b672448d4d45f02a3368b9b...,36.0,4080.0,305.0,1473.667,1846.225
4,917a563e9c2b2c21e9535de9c8746d7865aba2a2eb8166...,1880.0,1.0,2614.0,1498.333,1100.362

In [4]:
ag_rank_portfolio2.head()

,id,rank_01,rank_02,rank_03,rank_mean,rank_std
0,931008de17675b8089f461b1adb94b298b6eaeea98c523...,4.0,2.0,1.0,2.333,1.247
1,824dfef51042cc47a13b79f86eac0e5f2a331997ca9b7e...,12.0,2.0,5.0,6.333,4.190
2,d06639ff1d28dce5353c17592c8377115ce769a4ecbbc8...,13.0,2.0,13.0,9.333,5.185
3,050230d2e5b5c06d3f76d65fdad4111395c700c652b7f2...,18.0,2.0,11.0,10.333,6.549
4,efc39f042e0cd53e9e70ef33f536bfdeef9bc8fb886fe8...,26.0,2.0,7.0,11.667,10.339

In [6]:
ag_rank_portfolio3

,id,rank_01,rank_02,rank_03,rank_mean,rank_std
0,e532402800ba5abc95e7d8bb85413b738e7bb5419e57de...,2.0,1.0,1.0,1.333,0.471

In [68]:
ag_rank_portfolio1.shape

(100, 6)

In [69]:
ag_rank_portfolio2.shape

(100, 6)

In [63]:
ag_rank_portfolio3.shape

(100, 6)

,id,rank_01,rank_02,rank_03,rank_mean,rank_std
95,d6bb5680ea9158e37f7190ea1077130824a4009d74afd2...,7.0,24.0,265.0,98.667,117.820
96,386f00fd11ba42964935c94949da0ce67405d6a6d59202...,119.0,24.0,154.0,99.000,54.924
97,d992145b4bec3f1f48d8878324e7ff803bc9b15241456f...,25.0,24.0,253.0,100.667,107.717
98,80ef4cba5569af62102773c477571f9484972dcfe6f76a...,17.0,24.0,263.0,101.333,114.351
99,3cdec6082f248ce68d4bfc8ef1df0cb3d0ffed4485b7e8...,217.0,24.0,64.0,101.667,83.172