In [1]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
import seaborn as sn
import pandas as pd
import altair as alt
import numpy as np
import statsmodels.api as sm
import scipy.stats as sct
import matplotlib.pyplot as plt
import matplotlib
import pandas_profiling
import scipy
import pylab
import io
import math
# Comment this if the data visualisations doesn't work on your side
%matplotlib inline
plt.style.use('bmh')

# Client List

#### Get clients from  market and add  label:
* 1 for Clients from Portfolio 1
* 2 for Clients from Portfolio 2
* 3 for Clients from Portfolio 3
* 0 for Clients from none above.

In [12]:
market = pd.read_csv("estaticos_market.csv")
market['portfolio'] = 0
market.head()

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

### DROP NA FEATURES ABOVE THRESHOLD

* Drop features with missing values greater than 85% of total.

In [13]:
row, col = market.shape
print("%d rows" %(row))
print("%d cols" %(col))

market_na = pd.DataFrame(market.isnull().sum(), columns = ["NA"])
print("Features with missing values greater than 85% of total:")
na_feat_list = (market_na[market_na['NA'] > ((row * 85)/100)])
na_feat_list = na_feat_list.index.values
market = market.drop(na_feat_list,axis = 1)
print(na_feat_list)

462298 rows
183 cols
Features with missing values greater than 85% of total:
['vl_total_tancagem' 'vl_total_veiculos_antt' 'vl_total_veiculos_leves'
 'vl_total_veiculos_pesados' 'qt_art' 'vl_total_tancagem_grupo'
 'vl_total_veiculos_antt_grupo' 'vl_potenc_cons_oleo_gas'
 'de_indicador_telefone' 'vl_frota' 'qt_socios_st_suspensa'
 'qt_socios_pep' 'qt_alteracao_socio_total' 'qt_alteracao_socio_90d'
 'qt_alteracao_socio_180d' 'qt_alteracao_socio_365d' 'qt_socios_pj_ativos'
 'qt_socios_pj_nulos' 'qt_socios_pj_baixados' 'qt_socios_pj_suspensos'
 'qt_socios_pj_inaptos' 'vl_idade_media_socios_pj'
 'vl_idade_maxima_socios_pj' 'vl_idade_minima_socios_pj' 'qt_coligados'
 'qt_socios_coligados' 'qt_coligados_matriz' 'qt_coligados_ativo'
 'qt_coligados_baixada' 'qt_coligados_inapta' 'qt_coligados_suspensa'
 'qt_coligados_nula' 'idade_media_coligadas' 'idade_maxima_coligadas'
 'idade_minima_coligadas' 'coligada_mais_nova_ativa'
 'coligada_mais_antiga_ativa' 'idade_media_coligadas_ativas'
 'coligada_mais_nova_baixada' 'coligada_mais_antiga_baixada'
 'idade_media_coligadas_baixadas' 'qt_coligados_sa' 'qt_coligados_me'
 'qt_coligados_mei' 'qt_coligados_ltda' 'qt_coligados_epp'
 'qt_coligados_norte' 'qt_coligados_sul' 'qt_coligados_nordeste'
 'qt_coligados_centro' 'qt_coligados_sudeste' 'qt_coligados_exterior'
 'qt_ufs_coligados' 'qt_regioes_coligados' 'qt_ramos_coligados'
 'qt_coligados_industria' 'qt_coligados_agropecuaria'
 'qt_coligados_comercio' 'qt_coligados_serviço' 'qt_coligados_ccivil'
 'qt_funcionarios_coligados' 'qt_funcionarios_coligados_gp'
 'media_funcionarios_coligados_gp' 'max_funcionarios_coligados_gp'
 'min_funcionarios_coligados_gp' 'vl_folha_coligados'
 'media_vl_folha_coligados' 'max_vl_folha_coligados'
 'min_vl_folha_coligados' 'vl_folha_coligados_gp'
 'media_vl_folha_coligados_gp' 'max_vl_folha_coligados_gp'
 'min_vl_folha_coligados_gp' 'faturamento_est_coligados'
 'media_faturamento_est_coligados' 'max_faturamento_est_coligados'
 'min_faturamento_est_coligados' 'faturamento_est_coligados_gp'
 'media_faturamento_est_coligados_gp' 'max_faturamento_est_coligados_gp'
 'min_faturamento_est_coligados_gp' 'total_filiais_coligados'
 'media_filiais_coligados' 'max_filiais_coligados' 'min_filiais_coligados'
 'qt_coligados_atividade_alto' 'qt_coligados_atividade_medio'
 'qt_coligados_atividade_baixo' 'qt_coligados_atividade_mt_baixo'
 'qt_coligados_atividade_inativo' 'qt_coligadas'
 'sum_faturamento_estimado_coligadas' 'idade_ate_18' 'idade_de_19_a_23'
 'idade_de_24_a_28' 'idade_de_29_a_33' 'idade_de_34_a_38'
 'idade_de_39_a_43' 'idade_de_44_a_48' 'idade_de_49_a_53'
 'idade_de_54_a_58' 'idade_acima_de_58' 'grau_instrucao_macro_analfabeto'
 'grau_instrucao_macro_escolaridade_fundamental'
 'grau_instrucao_macro_escolaridade_media'
 'grau_instrucao_macro_escolaridade_superior'
 'grau_instrucao_macro_desconhecido']

In [14]:
data1 = pd.read_csv("estaticos_portfolio1.csv")
portfolio1 = market.loc[market['id'].isin(data1['id'])]
portfolio1['portfolio']=1
portfolio1.head()

/home/marcelo/Documents/codenation_squad4/squad-4-ad-data-science-1/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
369,369,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
604,604,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4,1
1703,1703,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
2521,2521,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
5788,5788,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,...,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3,1

In [15]:
data2 = pd.read_csv("estaticos_portfolio2.csv")
portfolio2 = market.loc[market['id'].isin(data2['id'])]
portfolio2['portfolio']=2
portfolio2.head()

/home/marcelo/Documents/codenation_squad4/squad-4-ad-data-science-1/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
1646,1646,09e95c1a84049001d086470a8f320a19b076f955a89122...,True,AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL,AC,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,11.243836,10 a 15,...,357.066667,25.533333,1361.0,1361.0,1383.0,0.000000,-1.590745,0.000000,0,2
2696,2696,dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.789041,> 20,...,526.133333,23.200000,991.0,991.0,1306.0,0.000000,-24.119449,0.000000,0,2
3681,3681,16843c9ffb920170477118933798510d8d5f00f5c56c12...,True,SOCIEDADE SIMPLES LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE EDUCACAO,SERVIÇO,16.389041,15 a 20,...,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.250000,0,2
4564,4564,ff045934d90aab184dd15e66daf3b3c97193bda5449298...,True,MUNICIPIO,AM,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,39.671233,> 20,...,555.766667,28.300000,1829.0,1829.0,1875.0,0.000000,-2.453333,0.000000,1,2
6066,6066,a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,PRODUTOS DE AGROPECUARIA,AGROPECUARIA,20.268493,> 20,...,134.833333,2.933333,177.0,130.0,120.0,36.153846,47.500000,41.042345,0,2

In [16]:
data3 = pd.read_csv("estaticos_portfolio3.csv")
portfolio3 = market.loc[market['id'].isin(data3['id'])]
portfolio3['portfolio']=3
portfolio3.head()

/home/marcelo/Documents/codenation_squad4/squad-4-ad-data-science-1/venv/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
3116,3116,bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,21.813699,> 20,...,259.166667,40.500000,745.0,745.0,745.0,0.000000,0.000000,0.00,2,3
3681,3681,16843c9ffb920170477118933798510d8d5f00f5c56c12...,True,SOCIEDADE SIMPLES LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE EDUCACAO,SERVIÇO,16.389041,15 a 20,...,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.25,0,3
4784,4784,1b8d092daff12bed8b3c2ab93bf5df2921865a68aca185...,True,ORGAO PUBLICO DO PODER EXECUTIVO ESTADUAL OU D...,AM,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,40.380822,> 20,...,557.866667,24.200000,170.0,170.0,177.0,0.000000,-3.954802,0.00,0,3
7429,7429,3aafa3a1f12f483740a52956af100223333d0e3c79bf2c...,True,MUNICIPIO,PI,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.854795,> 20,...,506.966667,31.333333,151.0,151.0,151.0,0.000000,0.000000,0.00,0,3
8001,8001,c60431fbca90067f105570e1e8a684bcd7048205bbf6c4...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.865753,> 20,...,556.833333,34.033333,229.0,229.0,418.0,0.000000,-45.215311,0.00,1,3

In [20]:
portfolio_list = pd.concat([portfolio1,portfolio2,portfolio3], ignore_index=True)
portfolio_list['portfolio'] = 1
portfolio_list = portfolio_list[portfolio1.columns]
portfolio_list= portfolio_list.drop_duplicates(subset=['id'], keep='first')
portfolio_list

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
0,369,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
1,604,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,...,NaN,NaN,0.0,0.0,2.0,NaN,-100.000000,0.000000,4,1
2,1703,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
3,2521,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
4,5788,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,...,91.200000,19.333333,14.0,15.0,25.0,-6.666667,-44.000000,0.000000,3,1
5,6369,f7e2894dce5dbb49662da50c55bcb96cdc3d34188abfe8...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.238356,5 a 10,...,NaN,NaN,0.0,0.0,1.0,NaN,-100.000000,0.000000,0,1
6,7822,f0c84600cbd2e126ee8314d22816368f33207e723a6ae7...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,9.663014,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
7,8949,d0f8bc5c0e71600d303cacebb3e8e6fd9195322b2c1b15...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.495890,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
8,9272,b9b02480a757c3cc5054d6c01e44df62b22ea1328a8743...,True,SOCIEDADE EMPRESARIA LIMITADA,MA,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,1.161644,1 a 5,...,5.800000,3.833333,5.0,0.0,0.0,NaN,NaN,0.000000,0,1
9,9946,7d58990ba786a3a26617a8afbf814a9919ab34aa09013a...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,5.309589,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
10,11051,d37003c6e5d299c3fcd45f36ec6c26d39770f1d52edc41...,True,SOCIEDADE EMPRESARIA LIMITADA,RO,ENTIDADES EMPRESARIAIS,BENS DE CONSUMO,INDUSTRIA,3.756164,1 a 5,...,23.200000,23.200000,1.0,1.0,0.0,0.000000,NaN,0.000000,0,1
11,12417,ca01d4352d5e77b8083bf9726ffdac787edff95983a2b5...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,4.780822,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
12,12619,43ab1321903c5c982e7236a4d6a07dad71b3146cdfdd96...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,7.186301,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
13,13195,fa2a153f8449584ae3f0e8252a56fa4309509506c921c3...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,BENS DE CONSUMO,INDUSTRIA,20.572603,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
14,15365,e07a41f29767241650ff6953e236e8647c496b4e6a243f...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,23.986301,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
15,16609,48a35ddd6e719389772bad36c40baac6c825b9889efdc5...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.238356,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
16,16874,6acb7ad626bce2a3573df9be04af2b405c84dc630b9087...,True,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,RO,OUTROS,COMERCIO VAREJISTA,COMERCIO,33.693151,> 20,...,89.200000,3.400000,6.0,6.0,8.0,0.000000,-25.000000,16.666667,0,1
17,21394,7916d9657ba20f9da81d02b21c76cc1b9fc001050a5c52...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,17.219178,15 a 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
18,22351,5b99af37fce3644d9aaff1bd8a00e5b3d66f0dcd52b687...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.120548,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
19,24371,013ce96aef919fb847b8f0cfc882a1ebad64e291e78ff6...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,19.884932,15 a 20,...,132.800000,8.966667,8.0,7.0,12.0,14.285714,-33.333333,0.000000,0,1
20,24766,92ae6033b7b0586433228a2ae7efca4fb7d671d974a017...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.832877,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
21,26365,fc6969bffd9f104e3a148ad7df64b338ca885dd6a5aa51...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,5.326027,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
22,26808,17bd634cc590c6c679021bc42589830a90a3d226ceee22...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.471233,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
23,26871,94fed6590e85e554f490474fe2bcc1c1c2d76f97e12920...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,23.115068,> 20,...,49.600000,49.600000,1.0,1.0,2.0,0.000000,-50.000000,0.000000,0,1
24,27514,86eedaf368b0bd272cc9f80c6693b58f16b4a484f9c923...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,1.583562,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
25,27519,cdbe1d8ae7a9c080dc025b1b33ad91f097858def5c889d...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,12.923288,10 a 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
26,27774,1a0b6e6ba9f28cb1137378e2d4805662048e78c333a2ab...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,4.536986,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
27,28550,d4d6fe6beaf3011c6771ecb4dd98a4135184b7304736f4...,True,SOCIEDADE EMPRESARIA LIMITADA,RO,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,24.975342,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
28,29189,1e929082659e29d649d0f784b1ef6f6352d5984beb33fc...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,47.517808,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
29,30333,9802de4ba08fec9c7c4a1efa61866071c10cb63df0a2ea...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.649315,> 20,...,25.233333,25.233333,1.0,1.0,1.0,0.000000,0.000000,0.000000,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,370562,eb71e1c54a35200373f2c5f5817e4c3fe57bcc83fdea21...,True,SOCIEDADE EMPRESARIA LIMITADA,AM,ENTIDADES EMPRESARIAIS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,8.915068,5 a 10,...,95.233333,2.066667,313.0,222.0,221.0,40.990991,41.628959,19.548872,0,1
1328,370921,fdd75bebc7989d42d8f2e4441101a4eb289649fda9609d...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,27.142466,> 20,...,592.233333,34.333333,677.0,677.0,677.0,0.000000,0.000000,0.000000,1,1
1329,372020,322a226f6f7b65af308b081a34d823305215544dbcd3d5...,True,MUNICIPIO,AM,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,35.701370,> 20,...,435.100000,22.766667,424.0,424.0,502.0,0.000000,-15.537849,0.000000,0,1
1331,377309,61a8fc78737153cf4e259a7bdc47407838a7e1c594254a...,True,AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL,AM,ADMINISTRACAO PUBLICA,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,23.865753,> 20,...,458.000000,22.133333,101.0,101.0,99.0,0.000000,2.020202,0.000000,0,1
1333,381708,a290c91e52b3b465eb3077477104483e75adb83c030cb2...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,48.758904,> 20,...,612.233333,27.266667,1095.0,1095.0,1106.0,0.000000,-0.994575,0.000000,2,1
1335,387023,04d34dcdee40a44560907165ab68f8e0ec771c0b94321f...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE SANEAMENTO BASICO,SERVIÇO,8.312329,5 a 10,...,39.400000,15.100000,201.0,201.0,202.0,0.000000,-0.495050,0.000000,1,1
1336,387027,615c01f8ad351e9b66b802a69c281eaf25bce3ac7cc677...,True,MUNICIPIO,PI,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.876712,> 20,...,508.033333,25.100000,1654.0,1654.0,1796.0,0.000000,-7.906459,0.000000,8,1
1338,391981,9a46225573787d8d61a6f238e8b00274321a2bcd5ab53c...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.832877,> 20,...,448.266667,23.033333,317.0,317.0,305.0,0.000000,3.934426,0.000000,2,1
1339,393126,053378f27e2cd53b65e4658334d00afa05c014431360b2...,True,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,AM,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,6.419178,5 a 10,...,67.866667,1.966667,470.0,442.0,766.0,6.334842,-38.642298,16.035635,2,1
1342,399183,4fd263c584fbfc7ba7c712fa0931a8d7c56c126295f832...,True,ORGAO PUBLICO DO PODER EXECUTIVO MUNICIPAL,PI,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,20.145205,> 20,...,481.833333,112.166667,159.0,159.0,160.0,0.000000,-0.625000,0.000000,0,1
1343,399497,8b1ad0ad41a55d356cf2ef7ffe3b7ae4d7949ff2ee4a3d...,True,MUNICIPIO,AM,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,35.684932,> 20,...,434.166667,23.200000,420.0,420.0,505.0,0.000000,-16.831683,0.000000,0,1
1345,401875,961fd2ff794d4a1a6911f0b077cf864508c6bf534a9ef1...,True,AUTARQUIA ESTADUAL OU DO DISTRITO FEDERAL,AM,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,18.936986,15 a 20,...,530.266667,24.400000,76.0,76.0,78.0,0.000000,-2.564103,0.000000,0,1
1348,405059,43b785b448f23187ab1f7ec31bb768ba8ec7173967d8e3...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,46.909589,> 20,...,287.033333,68.900000,204.0,204.0,205.0,0.000000,-0.487805,0.000000,1,1
1352,413256,03db1b36296ff895e6494a04d94795b247a78301dec8c0...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,TELECOM,SERVIÇO,34.701370,> 20,...,387.433333,3.833333,108.0,102.0,105.0,5.882353,2.857143,3.791469,0,1
1353,416521,22225afe6bb718a447747d7ae1cd29c8e1e8071f358ac0...,True,SERVICO SOCIAL AUTONOMO,RO,ENTIDADES SEM FINS LUCRATIVOS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,37.734247,> 20,...,401.233333,7.900000,116.0,117.0,120.0,-0.854701,-3.333333,2.575107,8,1
1354,417349,81cca75e9a1f5677aa6743e46d1ee0ceaab045977ecc9c...,True,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,RN,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,2.498630,1 a 5,...,30.400000,3.200000,161.0,104.0,34.0,54.807692,373.529412,22.857143,0,1
1359,426245,3eb902d29165c527ac99d6ce82368ce36be0d08bafb1c7...,True,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,AM,OUTROS,SERVICOS DE SAUDE,SERVIÇO,1.002740,1 a 5,...,13.066667,2.066667,83.0,79.0,0.0,5.063291,NaN,16.049383,0,1
1360,427222,8dc99e4edb4b968e7381d5d37b8af55c27eec858923817...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.846575,> 20,...,503.100000,22.733333,378.0,378.0,443.0,0.000000,-14.672686,0.000000,1,1
1362,429938,ded6b453ca579763e3ae1097a942bdaf88ee9aadd6f91e...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.865753,> 20,...,507.200000,25.133333,471.0,471.0,682.0,0.000000,-30.938416,0.000000,0,1
1364,433847,2f88a5f2fc04a12905c1d5f96f37f4e3b7689092a7d7b3...,True,MUNICIPIO,PI,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,25.884932,> 20,...,375.133333,31.333333,241.0,241.0,251.0,0.000000,-3.984064,0.000000,0,1
1367,440834,f2b37c765940590453aa5a196a99c898e5fc6eef19c8e3...,True,MUNICIPIO,MA,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,21.835616,> 20,...,257.800000,31.800000,275.0,275.0,286.0,0.000000,-3.846154,0.000000,0,1
1368,442183,91d7920756938689fa71f6c709be53c4bdf8bb9e3bf04f...,True,ORGAO PUBLICO DO PODER JUDICIARIO FEDERAL,MA,ADMINISTRACAO PUBLICA,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,29.778082,> 20,...,554.833333,23.200000,677.0,677.0,703.0,0.000000,-3.698435,0.000000,0,1
1369,442475,80f32ad2298718d2214f5d10b3aff79cd4f12f58aefe31...,True,AUTARQUIA FEDERAL,RO,ADMINISTRACAO PUBLICA,SERVICOS DE EDUCACAO,SERVIÇO,9.835616,5 a 10,...,448.666667,23.400000,1100.0,1100.0,1170.0,0.000000,-5.982906,0.000000,9,1
1371,446062,e8e24acdb7a92ab41abe76b1f30152e7354862077b710e...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,21.832877,> 20,...,264.633333,34.066667,211.0,211.0,287.0,0.000000,-26.480836,0.000000,0,1
1374,449604,0eb677696464ab30e7c9fcc447d1eeb92dab5058d626c1...,True,SOCIEDADE EMPRESARIA LIMITADA,MA,ENTIDADES EMPRESARIAIS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,27.950685,> 20,...,153.033333,2.233333,157.0,123.0,169.0,27.642276,-7.100592,15.770609,13,1
1378,452676,feb9c97a3f694c22a919d9544c433da92d34d5717b43d5...,True,EMPRESA INDIVIDUAL DE RESPONSABILIDADE LIMITAD...,MA,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,16.769863,15 a 20,...,92.233333,3.700000,206.0,152.0,119.0,35.526316,73.109244,101.086957,0,1
1380,454341,120ecac76e64ace3880969e7a6c7a20ff116b94a411fd0...,True,MUNICIPIO,RN,OUTROS,"ADMINISTRACAO PUBLICA, DEFESA E SEGURIDADE SOCIAL",SERVIÇO,43.539726,> 20,...,501.066667,2.500000,353.0,344.0,564.0,2.616279,-37.411348,0.000000,1,1
1381,454844,b6966d868fb7976f993aca02fb667c9ae8f5ebf4d2e033...,True,COOPERATIVA,RO,ENTIDADES EMPRESARIAIS,SERVICOS FINANCEIROS,SERVIÇO,18.980822,15 a 20,...,176.300000,2.266667,89.0,86.0,73.0,3.488372,21.917808,10.285714,0,1
1382,457457,4a87a82771996c18afc68a17d139bd318d08fa3e5dcf9f...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,SERVICOS DE SAUDE,SERVIÇO,22.493151,> 20,...,271.800000,2.533333,203.0,206.0,243.0,-1.456311,-16.460905,14.669927,3,1
1384,459287,98448fefe3e358578fa643b63fcdcf4a3f2dcb496863f8...,True,COOPERATIVA,AC,ENTIDADES EMPRESARIAIS,"SEGUROS, PLANOS DE PREVIDENCIA E PLANOS DE SAUDE",SERVIÇO,26.402740,> 20,...,286.333333,2.933333,121.0,114.0,109.0,6.140351,11.009174,9.361702,5,1

In [19]:
client_list = market[~market['id'].isin(portfolio_list['id'])]
client_list = client_list[portfolio1.columns]
client_list

,Unnamed: 0,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,14.457534,10 a 15,...,93.266667,19.166667,26.0,26.0,27.0,0.000000,-3.703704,0.000000,0,0
1,1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.463014,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.093151,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,6.512329,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,3.200000,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
5,5,529a1f5fc6f88071db7d38492a0ce7c985c77e9b1c3bb6...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,QUIMICA-PETROQUIMICA,INDUSTRIA,38.079452,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
6,6,8bf37c178778e537b108e58bf20552abe10c3a7fae129b...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,7.276712,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
7,7,0114fd3fbdc347c561843cde6aece12e8e53cb5d32c77d...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,0.052055,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
8,8,6c45aabb849a760a3a7107c7a61262642f683feb8912a4...,True,COOPERATIVA,AM,ENTIDADES EMPRESARIAIS,BENS DE CONSUMO,INDUSTRIA,12.263014,10 a 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
9,9,2fcd678d71b04ccb77644fff57706bdc7fcfbbec6b1926...,False,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,17.942466,15 a 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0
10,10,5e88eba292754550f48fb752318a0ebbbf8c46e8480531...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,7.764384,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
11,11,3d7a24d9830055fd8aeaec2fcc8ef5b248d8b0d6f780b5...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.775342,5 a 10,...,70.833333,5.966667,11.0,10.0,8.0,10.000000,37.500000,0.000000,0,0
12,12,ae7aa54603064698a34a870f9e06364ae63466b55e914d...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,12.838356,10 a 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
13,13,1e954ad5e6a5b7af8582da953709cd702a2f5e5d674361...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,3.690411,1 a 5,...,26.233333,26.233333,2.0,2.0,2.0,0.000000,0.000000,0.000000,0,0
14,14,b0ab88c6ae5e0846f0b8bd63b8472e9ecb73edf9188ff1...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,2.564384,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
15,15,8d3c6909ab111449f2db1937961f55046f21a86147c0f3...,True,ASSOCIACAO PRIVADA,RO,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,21.241096,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
16,16,c30c81b4e8526ce3cfe4dda880795e1c4353d39058ddad...,True,ASSOCIACAO PRIVADA,PI,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,30.873973,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
17,17,82aa41448d40afef92908fdfaa7070b2eedb2ffacb1016...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,3.986301,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
18,18,9907170763d88708043f32bc265fbf544d69f966052920...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,BENS DE CONSUMO,SERVIÇO,3.583562,1 a 5,...,34.366667,17.133333,2.0,2.0,1.0,0.000000,100.000000,0.000000,0,0
19,19,3d280e33e53e6fa5d63791f1eaf0207f2c079d1d713175...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.323288,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
20,20,b047290aec7450aa81dda8aff9cb2e0bf4f01d15a43088...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,INDUSTRIA DIGITAL,SERVIÇO,6.745205,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
21,21,459303e2f53eafe5c018c516d21f1cad65ab8a82c7214e...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,9.545205,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
22,22,4e663ebb51860ea4882099302347f35f3f255e184c3849...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,5.221918,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
23,23,efdae0635be4d9b35bfa6292615edc7c103a22317e788a...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,2.624658,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
24,24,91e260a5a74fc61f90280da08eb356e4d74f913eac7780...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,SERVICOS DIVERSOS,SERVIÇO,3.506849,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
25,25,e1df78e89a20f97ff7eace62578dc337c047ea604fc5f1...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,SERVICOS ADMINISTRATIVOS,SERVIÇO,9.230137,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
26,26,7da38db626e52ddea4e9a559fb7980567e2496ffcf8f12...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,9.980822,5 a 10,...,82.033333,6.966667,8.0,9.0,6.0,-11.111111,33.333333,23.529412,0,0
27,27,0032e3e6a776cbf4d36efa963b4eda224ddba8af284117...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.090411,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
28,28,82d50cb9a323eb65714a527b594857abbabf5921279409...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,SERVICOS DIVERSOS,SERVIÇO,29.443836,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
29,29,ba411f39a37e192eeec2c4d8a801702adcc5fa0f4f83af...,True,ASSOCIACAO PRIVADA,MA,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,7.016438,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462268,462268,b81118a8c6eb12e3c68a883f88642e7810b53e6d610c8e...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,BENS DE CONSUMO,INDUSTRIA,8.454795,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462269,462269,c1ba53a06184825380c31d161b07a57dbdef8d9e3aae8a...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,6.909589,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462270,462270,588847cbb782408a1fa8be46925d06903482acf455fa34...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,BENS DE CONSUMO,INDUSTRIA,8.441096,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462271,462271,14a3cf18d01d2098e468510f2d24e1030bb52251a6e991...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.471233,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462272,462272,ba57e8f8416d1ca3cb2bd92e7e69c5bd6eb2807770ae0d...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,23.567123,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462273,462273,ecec017267fa83e13885e98c609de056c1d245d663cc91...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,7.980822,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462274,462274,6d97cd42b5dd216ebf52c0d4d5043c132db326dc31ced1...,True,EMPRESARIO INDIVIDUAL,AC,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.032877,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462275,462275,82e06334d5572f40241451c4c5c28da54439846b80ddf6...,True,ASSOCIACAO PRIVADA,PI,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,21.482192,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462276,462276,a61242c63a1734a962c9a2d75b66aae659c4b2262c6e67...,True,SOCIEDADE EMPRESARIA LIMITADA,MA,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,14.219178,10 a 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462277,462277,b508a8f57e8d2f86d326b39b18397539ce9fce2121636b...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,6.786301,5 a 10,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.000000,0,0
462278,462278,51acf389f5dc64726ae2523109df9dbf0b337dbf1a757b...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,25.997260,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462279,462279,e32c194d3a1639d6f2f9c34c86d84a098a879a6fff74bd...,True,SOCIEDADE EMPRESARIA LIMITADA,PI,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,24.063014,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462280,462280,51395fd3eee3277a8cabefdfbd22dd079862ec1f491151...,True,ASSOCIACAO PRIVADA,MA,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,17.463014,15 a 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462281,462281,5d8a8ef6c379dad93e2b719f9a852b52adda2bf1a0a55b...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,5.923288,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462282,462282,5e03ec1a510c0168eb98b81da2b0d12d5e85e1e5c6639a...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,INDUSTRIA DIGITAL,SERVIÇO,1.975342,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462283,462283,12f4ec7f51b860e99c645d2415a19e3f6e0a353b46db82...,True,ORGANIZACAO RELIGIOSA,RN,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,4.098630,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462284,462284,c4e15080db8edd47b56420271c7e3741d23d62bd964c09...,True,ORGANIZACAO RELIGIOSA,PI,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,6.200000,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462285,462285,c7d29b8f06b400d2664e93327d7c3379e25b0b04045e65...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1.180822,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462286,462286,0024d85b556fb57af505f67dcb02055fc25bd403f4f3af...,True,SOCIEDADE EMPRESARIA LIMITADA,AM,ENTIDADES EMPRESARIAIS,COMERCIO POR ATACADO,COMERCIO,19.547945,15 a 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462287,462287,a875c3f73f2a18cb3f16aa3000ef7aaff1ec562bdfbe46...,True,EMPRESARIO INDIVIDUAL,AC,OUTROS,SERVICOS DIVERSOS,SERVIÇO,7.778082,5 a 10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462288,462288,25fc6c2f86ea82180b19935893969ca5943af053cf4fa6...,True,EMPRESARIO INDIVIDUAL,AM,OUTROS,COMERCIO VAREJISTA,COMERCIO,14.586301,10 a 15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462289,462289,7217389b17042e97dd2b35899f375aabd40901c90f26b4...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,TEXTEIS,INDUSTRIA,0.687671,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462290,462290,6d1d4e188e3314878b59649c4f840e0ca141a3c03d5bfc...,True,SOCIEDADE EMPRESARIA LIMITADA,MA,ENTIDADES EMPRESARIAIS,SERVICOS ADMINISTRATIVOS,SERVIÇO,9.238356,5 a 10,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.000000,0,0
462291,462291,916d935f687e32f7c3efb21e982d908074d74eecf7ef4a...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DIVERSOS,SERVIÇO,12.728767,10 a 15,...,129.766667,129.766667,1.0,1.0,1.0,0.000000,0.000000,0.000000,0,0
462292,462292,a29ac8a2e3a0bd8b806a7d62d135c806de7004dc088485...,True,ENTIDADE SINDICAL,RO,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DIVERSOS,SERVIÇO,16.849315,15 a 20,...,NaN,NaN,0.0,0.0,1.0,NaN,-100.000000,0.000000,0,0
462293,462293,469ee5fc984d0bb60aa2f40cda4d003d7c9b963d149ed3...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO E REPARACAO DE VEICULOS,COMERCIO,3.254795,1 a 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462294,462294,656f496e7e2fad708f0022d8ad97d2cb9344e839a5f3cb...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS ADMINISTRATIVOS,SERVIÇO,8.953425,5 a 10,...,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.000000,0,0
462295,462295,9b933a5cf2149d1338f00fb459d34a16b9b0f2e8d3e8e1...,True,ASSOCIACAO PRIVADA,MA,ENTIDADES SEM FINS LUCRATIVOS,SERVICOS DE SAUDE,SERVIÇO,20.745205,> 20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
462296,462296,84db0f17467cf4f02439e01ade57150b6ac59d9dae53ed...,True,SOCIEDADE EMPRESARIA LIMITADA,RO,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,1.909589,1 a 5,...,19.733333,2.400000,3.0,2.0,0.0,50.000000,NaN,0.000000,0,0
462297,462297,3d43e934e150b86be1e67524f5ba1018b27da9ef25566d...,True,EMPRESARIO INDIVIDUAL,RO,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,0.797260,<= 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

# Portfolio1

1. Fill NA of objects and bool with Mode.

In [21]:
portfolio1.select_dtypes(include= ['object']).isna().any()

portfolio1.select_dtypes(include= ['object']).isna().any()
portfolio1.loc[:,'fl_optante_simples'].fillna(portfolio1['fl_optante_simples'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'fl_optante_simei'].fillna(portfolio1['fl_optante_simei'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'de_saude_tributaria'].fillna(portfolio1['de_saude_tributaria'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'de_saude_rescencia'].fillna(portfolio1['de_saude_rescencia'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'de_nivel_atividade'].fillna(portfolio1['de_nivel_atividade'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'nm_meso_regiao'].fillna(portfolio1['nm_meso_regiao'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'nm_micro_regiao'].fillna(portfolio1['nm_micro_regiao'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'de_faixa_faturamento_estimado'].fillna(portfolio1['de_faixa_faturamento_estimado'].mode().tolist()[0],inplace=True)
portfolio1.loc[:,'de_faixa_faturamento_estimado_grupo'].fillna(portfolio1['de_faixa_faturamento_estimado_grupo'].mode().tolist()[0],inplace=True)
portfolio1[portfolio1.select_dtypes(include= ['object']).columns].isna().any()

/home/marcelo/Documents/codenation_squad4/squad-4-ad-data-science-1/venv/lib/python3.7/site-packages/pandas/core/generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

id                                     False
de_natureza_juridica                   False
sg_uf                                  False
natureza_juridica_macro                False
de_ramo                                False
setor                                  False
idade_emp_cat                          False
dt_situacao                            False
fl_rm                                  False
nm_divisao                             False
nm_segmento                            False
fl_spa                                 False
fl_antt                                False
fl_veiculo                             False
sg_uf_matriz                           False
de_saude_tributaria                    False
de_saude_rescencia                     False
de_nivel_atividade                     False
fl_simples_irregular                   False
nm_meso_regiao                         False
nm_micro_regiao                        False
fl_passivel_iss                        False
de_faixa_faturamento_estimado          False
de_faixa_faturamento_estimado_grupo    False
dtype: bool

# Portfolio2

1. Fill NA of objects and bool with Mode.

In [22]:
portfolio2.select_dtypes(include= ['object']).isna().any()
portfolio2.loc[:,'nm_meso_regiao'].fillna(portfolio2['nm_meso_regiao'].mode().tolist()[0],inplace=True)
portfolio2.loc[:,'nm_micro_regiao'].fillna(portfolio2['nm_micro_regiao'].mode().tolist()[0],inplace=True)
portfolio2[portfolio2.select_dtypes(include= ['object']).columns].isna().any()

id                                     False
de_natureza_juridica                   False
sg_uf                                  False
natureza_juridica_macro                False
de_ramo                                False
setor                                  False
idade_emp_cat                          False
dt_situacao                            False
fl_rm                                  False
nm_divisao                             False
nm_segmento                            False
fl_spa                                 False
fl_antt                                False
fl_veiculo                             False
fl_optante_simples                     False
fl_optante_simei                       False
sg_uf_matriz                           False
de_saude_tributaria                    False
de_saude_rescencia                     False
de_nivel_atividade                     False
fl_simples_irregular                   False
nm_meso_regiao                         False
nm_micro_regiao                        False
fl_passivel_iss                        False
de_faixa_faturamento_estimado          False
de_faixa_faturamento_estimado_grupo    False
dtype: bool

# Portfolio3

1. Fill NA of objects and bool with Mode.

In [23]:
portfolio3[portfolio3.select_dtypes(include= ['object']).columns].isna().any()

portfolio3.loc[:,'fl_optante_simples'].fillna(portfolio3['fl_optante_simples'].mode().tolist()[0],inplace=True)
portfolio3.loc[:,'fl_optante_simei'].fillna(portfolio3['fl_optante_simei'].mode().tolist()[0],inplace=True)

portfolio3.loc[:,'nm_meso_regiao'].fillna(portfolio3['nm_meso_regiao'].mode().tolist()[0],inplace=True)
portfolio3.loc[:,'nm_micro_regiao'].fillna(portfolio3['nm_micro_regiao'].mode().tolist()[0],inplace=True)

portfolio3.loc[:,'nm_meso_regiao'].fillna(portfolio3['nm_meso_regiao'].mode().tolist()[0],inplace=True)
portfolio3.loc[:,'nm_micro_regiao'].fillna(portfolio3['nm_micro_regiao'].mode().tolist()[0],inplace=True)
portfolio3[portfolio2.select_dtypes(include= ['object']).columns].isna().any()

id                                     False
de_natureza_juridica                   False
sg_uf                                  False
natureza_juridica_macro                False
de_ramo                                False
setor                                  False
idade_emp_cat                          False
dt_situacao                            False
fl_rm                                  False
nm_divisao                             False
nm_segmento                            False
fl_spa                                 False
fl_antt                                False
fl_veiculo                             False
fl_optante_simples                     False
fl_optante_simei                       False
sg_uf_matriz                           False
de_saude_tributaria                    False
de_saude_rescencia                     False
de_nivel_atividade                     False
fl_simples_irregular                   False
nm_meso_regiao                         False
nm_micro_regiao                        False
fl_passivel_iss                        False
de_faixa_faturamento_estimado          False
de_faixa_faturamento_estimado_grupo    False
dtype: bool

# Portfolio1 - Pipeline

1. Fill NA with median for numeric values
2. Standardize numeric cols
3. Normalize numeric cols

In [24]:
portfolio1_num = portfolio1[portfolio1.select_dtypes(include= ['int64','float64']).columns]
portfolio1_num.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
369,369,0.646575,0.0,0.0,NaN,379.96,1.0,1.0,0.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
604,604,6.586301,0.0,0.0,22.0,1865.61,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4,1
1703,1703,8.010959,0.0,0.0,24.0,798.12,1.0,1.0,0.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
2521,2521,20.863014,0.0,0.0,26.0,608.47,1.0,1.0,0.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1
5788,5788,18.726027,0.0,0.0,23.0,880.71,2.0,2.0,0.0,33.0,...,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3,1

In [26]:
num_pipeline = Pipeline(steps=[("imputer", SimpleImputer(strategy="median")),("scaler", StandardScaler(copy=True, with_mean=True, with_std=True)),("minmaxscaler", MinMaxScaler(copy=True, feature_range=(0, 1)))])
pipeline_transformation = num_pipeline.fit_transform(portfolio1_num.drop('portfolio', axis = 1))
portfolio1_transformed =  pd.DataFrame(pipeline_transformation, columns=portfolio1_num.drop('portfolio', axis = 1).columns)
portfolio1_transformed['portfolio'] = 1
portfolio1_transformed['id'] = portfolio1['id'].tolist()
portfolio1_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio,id
0,0.000000,0.012525,0.0,0.0,0.340426,0.044267,0.000,0.000,0.0,0.510204,...,0.10483,0.014286,0.013333,0.027027,0.333333,0.111111,0.0,0.000000,1,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...
1,0.000509,0.137662,0.0,0.0,0.319149,0.288152,0.000,0.000,0.0,0.442177,...,0.10483,0.000000,0.000000,0.027027,0.333333,0.000000,0.0,0.010695,1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...
2,0.002889,0.167677,0.0,0.0,0.361702,0.112913,0.000,0.000,0.0,0.632653,...,0.10483,0.014286,0.013333,0.027027,0.333333,0.111111,0.0,0.000000,1,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...
3,0.004660,0.438442,0.0,0.0,0.404255,0.081780,0.000,0.000,0.0,0.442177,...,0.10483,0.014286,0.013333,0.027027,0.333333,0.111111,0.0,0.000000,1,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...
4,0.011734,0.393420,0.0,0.0,0.340426,0.126471,0.125,0.125,0.0,0.346939,...,0.09013,0.200000,0.200000,0.337838,0.311111,0.062222,0.0,0.008021,1,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...

# Portfolio2 - Pipeline

1. Fill NA with median for numeric values
2. Standardize numeric cols
3. Normalize numeric cols

In [27]:
portfolio2_num = portfolio2[portfolio2.select_dtypes(include= ['int64','float64']).columns]
portfolio2_num.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
1646,1646,11.243836,0.0,4.0,23.0,2791.15,NaN,NaN,NaN,NaN,...,357.066667,25.533333,1361.0,1361.0,1383.0,0.000000,-1.590745,0.000000,0,2
2696,2696,43.789041,16.0,20.0,23.0,1007.87,NaN,NaN,NaN,NaN,...,526.133333,23.200000,991.0,991.0,1306.0,0.000000,-24.119449,0.000000,0,2
3681,3681,16.389041,1.0,1.0,23.0,688.31,2.0,2.0,0.0,70.000000,...,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.250000,0,2
4564,4564,39.671233,0.0,0.0,23.0,1397.47,NaN,NaN,NaN,NaN,...,555.766667,28.300000,1829.0,1829.0,1875.0,0.000000,-2.453333,0.000000,1,2
6066,6066,20.268493,3.0,12.0,23.0,707.20,4.0,4.0,0.0,48.666667,...,134.833333,2.933333,177.0,130.0,120.0,36.153846,47.500000,41.042345,0,2

In [28]:
num_pipeline = Pipeline(steps=[("imputer", SimpleImputer(strategy="median")),("scaler", StandardScaler(copy=True, with_mean=True, with_std=True)),("minmaxscaler", MinMaxScaler(copy=True, feature_range=(0, 1)))])
pipeline_transformation = num_pipeline.fit_transform(portfolio2_num.drop('portfolio', axis = 1))
portfolio2_transformed =  pd.DataFrame(pipeline_transformation, columns=portfolio2_num.drop('portfolio', axis = 1).columns)
portfolio2_transformed['portfolio'] = 2
portfolio2_transformed['id'] = portfolio2['id'].tolist()
portfolio2_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio,id
0,0.000000,0.026736,0.000000,0.010782,0.071429,0.308166,0.007246,0.007246,0.0,0.450000,...,0.057957,0.074989,0.075851,0.075384,0.174344,0.004790,0.000000,0.000000,2,09e95c1a84049001d086470a8f320a19b076f955a89122...
1,0.002282,0.748557,0.024133,0.053908,0.071429,0.090804,0.007246,0.007246,0.0,0.450000,...,0.052227,0.054360,0.055230,0.071187,0.174344,0.003531,0.000000,0.000000,2,dc9d155f5bcd3172031e2ec9431786e8871ff4b0ff4728...
2,0.004422,0.140852,0.001508,0.002695,0.071429,0.051853,0.007246,0.007246,0.0,0.714286,...,0.007204,0.005743,0.005796,0.006159,0.205989,0.005176,0.046684,0.000000,2,16843c9ffb920170477118933798510d8d5f00f5c56c12...
3,0.006341,0.657228,0.000000,0.000000,0.071429,0.138292,0.007246,0.007246,0.0,0.450000,...,0.064751,0.101082,0.101934,0.102202,0.174344,0.004742,0.000000,0.005814,2,ff045934d90aab184dd15e66daf3b3c97193bda5449298...
4,0.009605,0.226894,0.004525,0.032345,0.071429,0.054155,0.021739,0.021739,0.0,0.409524,...,0.002456,0.008976,0.007245,0.006541,0.253667,0.007535,0.306566,0.000000,2,a0ce528caab2c62497a548d0ebd9e935143ef81ed7dbf0...

# Portfolio3 - Pipeline

1. Fill NA with median for numeric values
2. Standardize numeric cols
3. Normalize numeric cols

In [29]:
portfolio3_num = portfolio3[portfolio3.select_dtypes(include= ['int64','float64']).columns]
portfolio3_num.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
3116,3116,21.813699,2.0,5.0,26.0,644.27,NaN,NaN,NaN,NaN,...,259.166667,40.500000,745.0,745.0,745.0,0.000000,0.000000,0.00,2,3
3681,3681,16.389041,1.0,1.0,23.0,688.31,2.0,2.0,0.0,70.0,...,149.033333,4.866667,119.0,104.0,113.0,14.423077,5.309735,6.25,0,3
4784,4784,40.380822,0.0,0.0,23.0,1881.35,NaN,NaN,NaN,NaN,...,557.866667,24.200000,170.0,170.0,177.0,0.000000,-3.954802,0.00,0,3
7429,7429,43.854795,2.0,1.0,23.0,353.66,NaN,NaN,NaN,NaN,...,506.966667,31.333333,151.0,151.0,151.0,0.000000,0.000000,0.00,0,3
8001,8001,43.865753,0.0,0.0,23.0,NaN,NaN,NaN,NaN,NaN,...,556.833333,34.033333,229.0,229.0,418.0,0.000000,-45.215311,0.00,1,3

In [30]:
num_pipeline = Pipeline(steps=[("imputer", SimpleImputer(strategy="median")),("scaler", StandardScaler(copy=True, with_mean=True, with_std=True)),("minmaxscaler", MinMaxScaler(copy=True, feature_range=(0, 1)))])
pipeline_transformation = num_pipeline.fit_transform(portfolio3_num.drop('portfolio', axis = 1))
portfolio3_transformed =  pd.DataFrame(pipeline_transformation, columns=portfolio3_num.drop('portfolio', axis = 1).columns)
portfolio3_transformed['portfolio'] = 3
portfolio3_transformed['id'] = portfolio3['id'].tolist()
portfolio3_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio,id
0,0.000000,0.412409,0.009302,0.013477,0.425,0.057328,0.007246,0.007246,0.0,0.534884,...,0.349667,0.175798,0.189686,0.175583,0.002328,0.004944,0.000000,0.011628,3,bb61c09449a1c1f8b78955d8b7a7f73599e78358993fe2...
1,0.001237,0.306140,0.004651,0.002695,0.350,0.064607,0.007246,0.007246,0.0,0.767442,...,0.026316,0.013243,0.026040,0.026632,0.003461,0.005360,0.061828,0.000000,3,16843c9ffb920170477118933798510d8d5f00f5c56c12...
2,0.003651,0.776138,0.000000,0.000000,0.350,0.261789,0.007246,0.007246,0.0,0.534884,...,0.201754,0.026487,0.042890,0.041716,0.002328,0.004634,0.000000,0.000000,3,1b8d092daff12bed8b3c2ab93bf5df2921865a68aca185...
3,0.009439,0.844193,0.009302,0.002695,0.350,0.009297,0.007246,0.007246,0.0,0.534884,...,0.266485,0.021553,0.038039,0.035588,0.002328,0.004944,0.000000,0.000000,3,3aafa3a1f12f483740a52956af100223333d0e3c79bf2c...
4,0.010691,0.844407,0.000000,0.000000,0.350,0.128068,0.007246,0.007246,0.0,0.534884,...,0.290986,0.041807,0.057953,0.098515,0.002328,0.001401,0.000000,0.005814,3,c60431fbca90067f105570e1e8a684bcd7048205bbf6c4...

## CLIENT LIST - PIPELINE

In [37]:
client_num = client_list[client_list.select_dtypes(include= ['int64','float64']).columns]
client_num.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio
0,0,14.457534,0.0,0.0,23.0,NaN,2.0,2.0,0.0,44.0,...,93.266667,19.166667,26.0,26.0,27.0,0.0,-3.703704,0.0,0,0
1,1,1.463014,0.0,0.0,9.0,468.93,1.0,1.0,0.0,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2,2,7.093151,0.0,0.0,26.0,713.50,1.0,1.0,0.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
3,3,6.512329,0.0,0.0,26.0,475.73,1.0,1.0,0.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,4,3.200000,0.0,0.0,27.0,2874.04,1.0,1.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [39]:
num_pipeline = Pipeline(steps=[("imputer", SimpleImputer(strategy="median")),("scaler", StandardScaler(copy=True, with_mean=True, with_std=True)),("minmaxscaler", MinMaxScaler(copy=True, feature_range=(0, 1)))])
pipeline_transformation = num_pipeline.fit_transform(client_num.drop('portfolio', axis = 1))
client_transformed =  pd.DataFrame(pipeline_transformation, columns=client_num.drop('portfolio', axis = 1).columns)
client_transformed['portfolio'] = 0
client_transformed['id'] = client_list['id'].tolist()
client_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,portfolio,id
0,0.000000,0.135704,0.0,0.0,0.348485,0.011285,0.004082,0.008130,0.0,0.356589,...,0.003381,0.000504,0.000504,0.000498,0.003584,0.001102,0.0,0.0,0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...
1,0.000002,0.013594,0.0,0.0,0.136364,0.004919,0.000000,0.004065,0.0,0.224806,...,0.004172,0.000039,0.000039,0.000037,0.003584,0.001144,0.0,0.0,0,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...
2,0.000004,0.066500,0.0,0.0,0.393939,0.008181,0.000000,0.004065,0.0,0.263566,...,0.004172,0.000039,0.000039,0.000037,0.003584,0.001144,0.0,0.0,0,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...
3,0.000006,0.061042,0.0,0.0,0.393939,0.005010,0.000000,0.004065,0.0,0.294574,...,0.004172,0.000039,0.000039,0.000037,0.003584,0.001144,0.0,0.0,0,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...
4,0.000009,0.029916,0.0,0.0,0.409091,0.036990,0.000000,0.004065,0.0,0.341085,...,0.004172,0.000039,0.000039,0.000037,0.003584,0.001144,0.0,0.0,0,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...

## One hot encoding - Client

In [52]:
client_obj = client_list[client_list.select_dtypes(include= ['object']).columns]
client_obj.head()

,id,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_emp_cat,dt_situacao,fl_rm,nm_divisao,...,sg_uf_matriz,de_saude_tributaria,de_saude_rescencia,de_nivel_atividade,fl_simples_irregular,nm_meso_regiao,nm_micro_regiao,fl_passivel_iss,de_faixa_faturamento_estimado,de_faixa_faturamento_estimado_grupo
0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,INDUSTRIA DA CONSTRUCAO,CONSTRUÇÃO CIVIL,10 a 15,2005-03-25,SIM,CONSTRUCAO DE EDIFICIOS,...,RN,VERDE,ACIMA DE 1 ANO,ALTA,False,LESTE POTIGUAR,NATAL,True,"DE R$ 1.500.000,01 A R$ 4.800.000,00","DE R$ 1.500.000,01 A R$ 4.800.000,00"
1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,EMPRESARIO INDIVIDUAL,PI,OUTROS,SERVICOS DE ALOJAMENTO/ALIMENTACAO,SERVIÇO,1 a 5,2017-05-12,SIM,ALIMENTACAO,...,PI,CINZA,ATE 1 ANO,BAIXA,False,CENTRO NORTE PIAUIENSE,TERESINA,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,EMPRESARIO INDIVIDUAL,AM,OUTROS,"TRANSPORTE, ARMAZENAGEM E CORREIO",SERVIÇO,5 a 10,2011-09-26,SIM,TRANSPORTE TERRESTRE,...,AM,AMARELO,ACIMA DE 1 ANO,MEDIA,False,CENTRO AMAZONENSE,MANAUS,True,"ATE R$ 81.000,00","ATE R$ 81.000,00"
3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,EMPRESARIO INDIVIDUAL,AM,OUTROS,SERVICOS DIVERSOS,SERVIÇO,5 a 10,2012-04-25,SIM,REPARACAO E MANUTENCAO DE EQUIPAMENTOS DE INFO...,...,AM,AMARELO,ACIMA DE 1 ANO,MEDIA,False,CENTRO AMAZONENSE,MANAUS,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"
4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,EMPRESARIO INDIVIDUAL,RN,OUTROS,"SERVICOS PROFISSIONAIS, TECNICOS E CIENTIFICOS",SERVIÇO,1 a 5,2015-08-17,SIM,SERVICOS DE ARQUITETURA E ENGENHARIA TESTES E ...,...,RN,VERDE,ACIMA DE 1 ANO,ALTA,False,LESTE POTIGUAR,NATAL,True,"DE R$ 81.000,01 A R$ 360.000,00","DE R$ 81.000,01 A R$ 360.000,00"

In [54]:
client_obj['setor'].fillna(client_obj['setor'].mode().tolist()[0],inplace=True)
client_obj['dt_situacao'].fillna(client_obj['dt_situacao'].mode().tolist()[0],inplace=True)
client_obj['nm_segmento'].fillna(client_obj['nm_segmento'].mode().tolist()[0],inplace=True)
client_obj['fl_spa'].fillna(client_obj['fl_spa'].mode().tolist()[0],inplace=True)
client_obj['nm_divisao'].fillna(client_obj['nm_divisao'].mode().tolist()[0],inplace=True)
client_obj['fl_antt'].fillna(client_obj['fl_antt'].mode().tolist()[0],inplace=True)
client_obj['fl_veiculo'].fillna(client_obj['fl_veiculo'].mode().tolist()[0],inplace=True)
client_obj['fl_optante_simples'].fillna(client_obj['fl_optante_simples'].mode().tolist()[0],inplace=True)
client_obj['fl_optante_simei'].fillna(client_obj['fl_optante_simei'].mode().tolist()[0],inplace=True)
client_obj['sg_uf_matriz'].fillna(client_obj['sg_uf_matriz'].mode().tolist()[0],inplace=True)
client_obj['de_saude_tributaria'].fillna(client_obj['de_saude_tributaria'].mode().tolist()[0],inplace=True)
client_obj['de_saude_rescencia'].fillna(client_obj['de_saude_rescencia'].mode().tolist()[0],inplace=True)
client_obj['de_nivel_atividade'].fillna(client_obj['de_nivel_atividade'].mode().tolist()[0],inplace=True)
client_obj['fl_simples_irregular'].fillna(client_obj['fl_simples_irregular'].mode().tolist()[0],inplace=True)
client_obj['nm_meso_regiao'].fillna(client_obj['nm_meso_regiao'].mode().tolist()[0],inplace=True)
client_obj['nm_micro_regiao'].fillna(client_obj['nm_micro_regiao'].mode().tolist()[0],inplace=True)
client_obj['fl_passivel_iss'].fillna(client_obj['fl_passivel_iss'].mode().tolist()[0],inplace=True)
client_obj['de_faixa_faturamento_estimado'].fillna(client_obj['de_faixa_faturamento_estimado'].mode().tolist()[0],inplace=True)
client_obj['de_faixa_faturamento_estimado_grupo'].fillna(client_obj['de_faixa_faturamento_estimado_grupo'].mode().tolist()[0],inplace=True)


client_obj.isna().any()

id                                     False
de_natureza_juridica                   False
sg_uf                                  False
natureza_juridica_macro                False
de_ramo                                False
setor                                  False
idade_emp_cat                          False
dt_situacao                            False
fl_rm                                  False
nm_divisao                             False
nm_segmento                            False
fl_spa                                 False
fl_antt                                False
fl_veiculo                             False
fl_optante_simples                     False
fl_optante_simei                       False
sg_uf_matriz                           False
de_saude_tributaria                    False
de_saude_rescencia                     False
de_nivel_atividade                     False
fl_simples_irregular                   False
nm_meso_regiao                         False
nm_micro_regiao                        False
fl_passivel_iss                        False
de_faixa_faturamento_estimado          False
de_faixa_faturamento_estimado_grupo    False
dtype: bool

In [55]:
enc = OneHotEncoder()
#client_id = enc.fit_transform(data_object['sg_uf'].values.reshape(-1, 1)).toarray()
#print(client_id[1])
de_ramo_one_hot =  enc.fit_transform(client_obj['de_ramo'].values.reshape(-1, 1)).toarray()
de_ramo_df = pd.DataFrame(de_ramo_one_hot, columns=enc.get_feature_names().tolist())

setor_one_hot = enc.fit_transform(client_obj['setor'].values.reshape(-1, 1)).toarray()
setor_df = pd.DataFrame(setor_one_hot, columns=enc.get_feature_names().tolist())

natureza_juridica_macro_one_hot = enc.fit_transform(client_obj['natureza_juridica_macro'].values.reshape(-1, 1)).toarray()
natureza_juridica_macro_df = pd.DataFrame(natureza_juridica_macro_one_hot, columns=enc.get_feature_names().tolist())

de_nivel_atividade_one_hot = enc.fit_transform(client_obj['de_nivel_atividade'].values.reshape(-1, 1)).toarray()
de_nivel_atividade_df = pd.DataFrame(de_nivel_atividade_one_hot, columns=enc.get_feature_names().tolist())


de_saude_tributaria_one_hot = enc.fit_transform(client_obj['de_saude_tributaria'].values.reshape(-1, 1)).toarray()
de_saude_tributaria_df = pd.DataFrame(de_saude_tributaria_one_hot, columns=enc.get_feature_names().tolist())

In [58]:
client_transformed = pd.concat([client_transformed, de_ramo_df,setor_df,natureza_juridica_macro_df,de_nivel_atividade_df,de_saude_tributaria_df], axis=1, sort=False)
client_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,x0_ALTA,x0_BAIXA,x0_MEDIA,x0_MUITO BAIXA,x0_AMARELO,x0_AZUL,x0_CINZA,x0_LARANJA,x0_VERDE,x0_VERMELHO
0,0.000000,0.135704,0.0,0.0,0.348485,0.011285,0.004082,0.008130,0.0,0.356589,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.000002,0.013594,0.0,0.0,0.136364,0.004919,0.000000,0.004065,0.0,0.224806,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.000004,0.066500,0.0,0.0,0.393939,0.008181,0.000000,0.004065,0.0,0.263566,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.000006,0.061042,0.0,0.0,0.393939,0.005010,0.000000,0.004065,0.0,0.294574,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.000009,0.029916,0.0,0.0,0.409091,0.036990,0.000000,0.004065,0.0,0.341085,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# One hot encoding - Portfolio 1, 2 e 3

In [31]:
enc = OneHotEncoder()
#client_id = enc.fit_transform(data_object['sg_uf'].values.reshape(-1, 1)).toarray()
#print(client_id[1])
de_ramo_one_hot =  enc.fit_transform(portfolio1['de_ramo'].values.reshape(-1, 1)).toarray()
de_ramo_df = pd.DataFrame(de_ramo_one_hot, columns=enc.get_feature_names().tolist())

setor_one_hot = enc.fit_transform(portfolio1['setor'].values.reshape(-1, 1)).toarray()
setor_df = pd.DataFrame(setor_one_hot, columns=enc.get_feature_names().tolist())

natureza_juridica_macro_one_hot = enc.fit_transform(portfolio1['natureza_juridica_macro'].values.reshape(-1, 1)).toarray()
natureza_juridica_macro_df = pd.DataFrame(natureza_juridica_macro_one_hot, columns=enc.get_feature_names().tolist())

de_nivel_atividade_one_hot = enc.fit_transform(portfolio1['de_nivel_atividade'].values.reshape(-1, 1)).toarray()
de_nivel_atividade_df = pd.DataFrame(de_nivel_atividade_one_hot, columns=enc.get_feature_names().tolist())


de_saude_tributaria_one_hot = enc.fit_transform(portfolio1['de_saude_tributaria'].values.reshape(-1, 1)).toarray()
de_saude_tributaria_df = pd.DataFrame(de_saude_tributaria_one_hot, columns=enc.get_feature_names().tolist())

In [32]:
portfolio1_transformed = pd.concat([portfolio1_transformed, de_ramo_df,setor_df,natureza_juridica_macro_df,de_nivel_atividade_df,de_saude_tributaria_df], axis=1, sort=False)
portfolio1_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,x0_ALTA,x0_BAIXA,x0_MEDIA,x0_MUITO BAIXA,x0_AMARELO,x0_AZUL,x0_CINZA,x0_LARANJA,x0_VERDE,x0_VERMELHO
0,0.000000,0.012525,0.0,0.0,0.340426,0.044267,0.000,0.000,0.0,0.510204,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.000509,0.137662,0.0,0.0,0.319149,0.288152,0.000,0.000,0.0,0.442177,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.002889,0.167677,0.0,0.0,0.361702,0.112913,0.000,0.000,0.0,0.632653,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.004660,0.438442,0.0,0.0,0.404255,0.081780,0.000,0.000,0.0,0.442177,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.011734,0.393420,0.0,0.0,0.340426,0.126471,0.125,0.125,0.0,0.346939,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [33]:
enc = OneHotEncoder()
#client_id = enc.fit_transform(data_object['sg_uf'].values.reshape(-1, 1)).toarray()
#print(client_id[1])
de_ramo_one_hot =  enc.fit_transform(portfolio2['de_ramo'].values.reshape(-1, 1)).toarray()
de_ramo_df = pd.DataFrame(de_ramo_one_hot, columns=enc.get_feature_names().tolist())

setor_one_hot = enc.fit_transform(portfolio2['setor'].values.reshape(-1, 1)).toarray()
setor_df = pd.DataFrame(setor_one_hot, columns=enc.get_feature_names().tolist())

natureza_juridica_macro_one_hot = enc.fit_transform(portfolio2['natureza_juridica_macro'].values.reshape(-1, 1)).toarray()
natureza_juridica_macro_df = pd.DataFrame(natureza_juridica_macro_one_hot, columns=enc.get_feature_names().tolist())

de_nivel_atividade_one_hot = enc.fit_transform(portfolio2['de_nivel_atividade'].values.reshape(-1, 1)).toarray()
de_nivel_atividade_df = pd.DataFrame(de_nivel_atividade_one_hot, columns=enc.get_feature_names().tolist())


de_saude_tributaria_one_hot = enc.fit_transform(portfolio2['de_saude_tributaria'].values.reshape(-1, 1)).toarray()
de_saude_tributaria_df = pd.DataFrame(de_saude_tributaria_one_hot, columns=enc.get_feature_names().tolist())

In [34]:
portfolio2_transformed = pd.concat([portfolio2_transformed, de_ramo_df,setor_df,natureza_juridica_macro_df,de_nivel_atividade_df,de_saude_tributaria_df], axis=1, sort=False)
portfolio2_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,x0_ENTIDADES SEM FINS LUCRATIVOS,x0_OUTROS,x0_ALTA,x0_BAIXA,x0_MEDIA,x0_AMARELO,x0_AZUL,x0_LARANJA,x0_VERDE,x0_VERMELHO
0,0.000000,0.026736,0.000000,0.010782,0.071429,0.308166,0.007246,0.007246,0.0,0.450000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.002282,0.748557,0.024133,0.053908,0.071429,0.090804,0.007246,0.007246,0.0,0.450000,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.004422,0.140852,0.001508,0.002695,0.071429,0.051853,0.007246,0.007246,0.0,0.714286,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.006341,0.657228,0.000000,0.000000,0.071429,0.138292,0.007246,0.007246,0.0,0.450000,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.009605,0.226894,0.004525,0.032345,0.071429,0.054155,0.021739,0.021739,0.0,0.409524,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
enc = OneHotEncoder()
#client_id = enc.fit_transform(data_object['sg_uf'].values.reshape(-1, 1)).toarray()
#print(client_id[1])
de_ramo_one_hot =  enc.fit_transform(portfolio3['de_ramo'].values.reshape(-1, 1)).toarray()
de_ramo_df = pd.DataFrame(de_ramo_one_hot, columns=enc.get_feature_names().tolist())

setor_one_hot = enc.fit_transform(portfolio3['setor'].values.reshape(-1, 1)).toarray()
setor_df = pd.DataFrame(setor_one_hot, columns=enc.get_feature_names().tolist())

natureza_juridica_macro_one_hot = enc.fit_transform(portfolio3['natureza_juridica_macro'].values.reshape(-1, 1)).toarray()
natureza_juridica_macro_df = pd.DataFrame(natureza_juridica_macro_one_hot, columns=enc.get_feature_names().tolist())

de_nivel_atividade_one_hot = enc.fit_transform(portfolio3['de_nivel_atividade'].values.reshape(-1, 1)).toarray()
de_nivel_atividade_df = pd.DataFrame(de_nivel_atividade_one_hot, columns=enc.get_feature_names().tolist())


de_saude_tributaria_one_hot = enc.fit_transform(portfolio3['de_saude_tributaria'].values.reshape(-1, 1)).toarray()
de_saude_tributaria_df = pd.DataFrame(de_saude_tributaria_one_hot, columns=enc.get_feature_names().tolist())

In [36]:
portfolio3_transformed = pd.concat([portfolio3_transformed, de_ramo_df,setor_df,natureza_juridica_macro_df,de_nivel_atividade_df,de_saude_tributaria_df], axis=1, sort=False)
portfolio3_transformed.head()

,Unnamed: 0,idade_empresa_anos,vl_total_veiculos_pesados_grupo,vl_total_veiculos_leves_grupo,nu_meses_rescencia,empsetorcensitariofaixarendapopulacao,qt_socios,qt_socios_pf,qt_socios_pj,idade_media_socios,...,x0_ENTIDADES SEM FINS LUCRATIVOS,x0_OUTROS,x0_ALTA,x0_BAIXA,x0_MEDIA,x0_AZUL,x0_CINZA,x0_LARANJA,x0_VERDE,x0_VERMELHO
0,0.000000,0.412409,0.009302,0.013477,0.425,0.057328,0.007246,0.007246,0.0,0.534884,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.001237,0.306140,0.004651,0.002695,0.350,0.064607,0.007246,0.007246,0.0,0.767442,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.003651,0.776138,0.000000,0.000000,0.350,0.261789,0.007246,0.007246,0.0,0.534884,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.009439,0.844193,0.009302,0.002695,0.350,0.009297,0.007246,0.007246,0.0,0.534884,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.010691,0.844407,0.000000,0.000000,0.350,0.128068,0.007246,0.007246,0.0,0.534884,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

## LABEL ENCODER

In [59]:
lb_make = LabelEncoder()
portfolio1_transformed["de_faixa_faturamento_estimado_encode"] = lb_make.fit_transform(portfolio1["de_faixa_faturamento_estimado"])

portfolio2_transformed["de_faixa_faturamento_estimado_encode"] = lb_make.fit_transform(portfolio2["de_faixa_faturamento_estimado"])

portfolio3_transformed["de_faixa_faturamento_estimado_encode"] = lb_make.fit_transform(portfolio3["de_faixa_faturamento_estimado"])

client_transformed["de_faixa_faturamento_estimado_encode"] = lb_make.fit_transform(client_obj["de_faixa_faturamento_estimado"])

# PCA

In [39]:
#pca = PCA(n_components=5)
#principalComponents = pca.fit_transform(portfolio1_transformed)
#principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2', 'principal component 3', 'principal component 4','principal component 5'])

In [40]:
#principalDf.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5
0,0.483259,-0.000354,0.039024,0.084674,-0.167259
1,0.481819,-0.007307,0.036120,-0.000622,-0.146719
2,0.445761,0.238188,-0.022436,0.118359,-0.190781
3,0.491415,0.147587,0.001119,-0.107017,-0.002162
4,0.578059,-0.013317,-0.225964,0.214044,0.470659